.btn {
    border-radius: 3px;
    display: block;
    font-size: 14px;
    margin: 10px 0;
    padding: 0 7.5px;
    text-align: center;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
    }
}