.btn {
    border-radius: 0;
    border: none;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
    }

    &--square {
        height: 40px;
        line-height: 40px;
        width: 40px;
    }
}