.figcaption {
    .title {
        color: $red;
        font-size: 16px;
        margin: 17.5px 0 0;

        @media only screen and(min-width: 768px) {
            font-size: 20px;
        }

        &--white {
            color: $white;
        }
    }

    .explanation {
        font-size: 14.5px;
        font-weight: lighter;
        line-height: 1.4em;
        margin: 10px 0 27.5px;

        @media only screen and(min-width: 768px) {
            font-size: 15.5px;
            line-height: 1.4em;
        }

        &--white {
            color: $white;
        }
    }
}