.share-buttons {
    display: flex;
    flex-direction: row;

    &__title {
        padding: 15px 15px 0;
        margin: 0 5px 0;
    }

    &__element {
        flex-grow: 1;
        justify-content: space-between;
        height: 40px;
        line-height: 40px;
        margin: 5px;
        overflow: hidden;

        &:hover {
            color: $white;
        }

        &--facebook {
            background-color: #3b5998;

            &:hover {
                background-color: rgba(59, 89, 152, 0.8);
            }
        }

        &--twitter {
            background-color: #55acee;

            &:hover {
                background-color: rgba(85, 172, 238, 0.8);
            }
        }

        &--google-pulse {
            background-color: #dd4b39;

            &:hover {
                background-color: rgba(221, 75, 57, 0.8);
            }
        }
    }
}