@import url(https://fonts.googleapis.com/css?family=Oxygen);

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    height: 45px;
}

.nav-menu {
    border-bottom: 1px solid #dedede;
    height: 45px;
    line-height: 45px;
    padding: 5px 17.5px;
    
    &__btn {
        height: 45px;
        width: 45px;
        position: absolute;
        right: 10px;
        text-align: center;
        top: 0;
        
        &:hover {
            cursor: pointer;
        }
    }
    
    &__list {
        background-color: #FFFFFF;
        border: 1px solid #EDEDED;
        box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
        display: none;
        list-style-type: none;
        margin: 0;
        padding: 35px 10px;
        position: relative;
        top: 40px;
        z-index: 2;
        
        &.is--open {
            display: block;
        }
    }
}

.date-control {   
    &__input {
        border-radius: 3px;
        border: 1px solid #dedede;
        display: block;
        padding: 5px;
        width: 100%;
    }
    
    &__error {
        color: red;
        display: none;
        font-size: 12px;
        margin: 0;
        
        &.is--visible {
            display: block;
        }
    }
    
    &__text {
       display: block; 
    }
}

.btn {
    border-radius: 3px;
    display: block;
    font-size: 14px;
    margin: 10px 0;
    padding: 0 7.5px;
    text-align: center;
    transition: all 0.3s;
    
    &:hover {
        cursor: pointer;
    }
    
    &--green {
        background-color: #30d156;
        border: 1px solid #1fb542;
        box-shadow: 0px 4px 0px 1px #1fb542, 0px 5px 10px rgba(0, 0, 0, 0.9);
        color: #FFFFFF;
        
        &:active,
        &:focus {
            transform: scale(0.98, 0.9);
        }
    }
}

#content {
    margin: 0 auto;
    width: 80%;
}

.title {
    font-size: 22px;
    
    &--white {
        color: #FFFFFF;    
    }
}

.picture {
    margin: 0;
    padding: 20px;
    width: 100%;
    
    .picture__content {
        width: 100%;
    }
    
    .picture__img {
        width: 100%;
        height: auto;
    }
}

.description {
    font-size: 16.5px;
    line-height: 1.5em;
    
    &--white {
        color: #ffffff;
    }
}