@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import "components/day-picker";
@import "components/header";
@import "components/logo";
@import "components/nav-menu";
@import "components/date-control";

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
}

.btn {
    border-radius: 3px;
    display: block;
    font-size: 14px;
    margin: 10px 0;
    padding: 0 7.5px;
    text-align: center;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
    }

    &--green {
        background-color: #30d156;
        border: 1px solid #1fb542;
        box-shadow: 0px 4px 0px 1px #1fb542, 0px 5px 10px rgba(0, 0, 0, 0.9);
        color: #FFFFFF;

        &:active,
        &:focus {
            transform: scale(0.98, 0.9);
        }
    }
}

.title {
    font-size: 18px;
    margin: 17.5px 0 12px;
    
    @media only screen and(min-width: 768) {
        font-size: 20px;
    }

    &--white {
        color: #FFFFFF;    
    }
}

.content {
    padding: 0 10px;
    width: 100%;

    @media only screen and(min-width: 768px) {
        
    }

    @media only screen and(min-width: 1024px) {

    }

    @media only screen and(min-width: 1200px) {

    }
}

.picture {
    margin: 0;
    padding: 0;
    width: 100%;
    
    .picture__content {
        height: 100%;
        width: 100%;

        > iframe {
            height: auto;
            width: 100%;
        }
    }
    
    .picture__img {
        width: 100%;
        height: auto;
    }
}

.description {
    font-size: 15px;
    line-height: 1.3em;
    
    @media only screen and(min-width: 768) {
        font-size: 15.5px;
        line-height: 1.4em;
    }

    &--white {
        color: #ffffff;
    }
}