@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import "components/day-picker";
@import "components/header";
@import "components/logo";
@import "components/nav-menu";
@import "components/date-control";
@import "components/btn";

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
}

#main {
    height: 100vh;
    width: 100vw;
}

#nasa-apod {
    height: 100vh;
    width: 100vw;
}

.content {
    margin: 0 auto;
    padding: 55px 0 0;
    width: 100%;

    @media only screen and(min-width: 1024px) {
        padding: 65px 0 0;
    }

    @media only screen and(min-width: 1200px) {
        max-width: 1024px;
    }
}

.picture {
    margin: 0;
    padding: 0;
    width: 100%;

    .picture__content {
        height: 100%;
        width: 100%;

        > iframe {
            height: auto;
            width: 100%;
        }
    }
    
    .picture__img {
        display: block;
        height: auto;
        max-width: 100%;
        margin: 0 auto;
        //width: 100%;
    }
}

.title {
    color: #EE293d;
    font-size: 16px;
    padding: 10px;
    margin: 0;

    @media only screen and(min-width: 768px) {
        font-size: 20px;
    }

    &--white {
        color: #FFFFFF;
    }
}

.description {
    font-size: 14.5px;
    line-height: 1.4em;
    margin: 0;
    padding: 10px;
    
    @media only screen and(min-width: 768px) {
        font-size: 15.5px;
        line-height: 1.4em;
    }

    &--white {
        color: #FFFFFF;
    }
}